<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="Service.BatteryService" behaviorConfiguration="BatteryServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8080/BatteryService"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="TcpBindingConfig" contract="Common.IBatteryService"/>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="TcpBindingConfig"
						 maxReceivedMessageSize="10000000"
						 maxBufferSize="65536"
						 transferMode="Streamed"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:10:00">
					<reliableSession enabled="false"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="BatteryServiceBehavior">
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>